.post-footer {
  border-bottom: 3px solid $black-deep;
  padding-bottom: 1px;

    &::after {
    content: "";
    border-bottom: 1px solid $grey-dark ;
    display: block;
    padding-bottom: 28px;
    }
}

.menu .menu-item a {
  color: $grey-lighter;
  padding: 2px 15px;
  border-radius: 20px;

  &:hover{
  background: $primary-dark;
  }
}

article{
  .post-meta{
    border-bottom: 1px dashed $black-light;
    padding-bottom: 7px;
  }
}

.highlight{
  border-radius: 5px;
  overflow: hidden;
}